<section id="homepage">
  <img id="avatar" class="homepage" src="/images/avatar.jpg" alt="Leo Deng">
        <span>Yes, I'm a web developer.</span>
        <header>
          <h1>Leo Deng</h1>
          <h2>in darkness let me dwell...</h2>
        </header>
        <nav>
          <ul>
            
              
            
              
                <li><a href="/articles"><i class="fontello icon-articles"></i>Articles</a></li>
              
            
              
                <li><a href="/books"><i class="fontello icon-books"></i>Books</a></li>
              
            
              
                <li><a href="/slides"><i class="fontello icon-slides"></i>Slides</a></li>
              
            
              
                <li><a href="/projects"><i class="fontello icon-projects"></i>Projects</a></li>
              
            
          </ul>
          <ul class="social">
            
              <li><a href="http://weibo.com/myst729" target="_blank"><i class="fontello icon-weibo"></i></a></li>
            
              <li><a href="https://github.com/myst729" target="_blank"><i class="fontello icon-github"></i></a></li>
            
          </ul>
        </nav>
</section>
<div id="overlay" class="homepage"></div>
