@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?15466297');
  src: url('../font/fontello.eot?15466297#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?15466297') format('woff'),
       url('../font/fontello.ttf?15466297') format('truetype'),
       url('../font/fontello.svg?15466297#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?15466297#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-home:before { content: '\e802'; } /* '' */
.icon-articles:before { content: '\e806'; } /* '' */
.icon-books:before { content: '\e809'; } /* '' */
.icon-slides:before { content: '\e80a'; } /* '' */
.icon-projects:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e80c'; } /* '' */
.icon-weibo:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e800'; } /* '' */
.icon-left:before { content: '\e803'; } /* '' */
.icon-right:before { content: '\e804'; } /* '' */
.icon-asterisk:before { content: '\e80e'; } /* '' */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  overflow-x: hidden;
}
#homepage {
  height: 100%;
  width: 100%;
  background: #232323 url("/images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#homepage div {
  color: #ddd;
  text-align: center;
  position: relative;
  z-index: 9000;
}
#homepage div header {
  background: rgba(0,0,0,0.3);
  border-top: 1px solid rgba(144,144,144,0.5);
  border-bottom: 1px solid rgba(144,144,144,0.5);
  padding: 10px 0;
  margin-bottom: 15px;
}
#homepage div header h1 {
  margin: 15px 0 0.5em;
}
#homepage div header h2 {
  margin: 0.5em 0 15px;
  font-size: 14px;
}
#homepage ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#homepage ul li {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  vertical-align: top;
}
#homepage ul a {
  color: #ddd;
  background: rgba(0,0,0,0.5);
  padding: 0.36em 0.72em;
  height: 1.2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: background 300ms ease-in-out;
  -moz-transition: background 300ms ease-in-out;
  -o-transition: background 300ms ease-in-out;
  -ms-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
#homepage ul a .fontello {
  padding-right: 0.4em;
}
#homepage ul a:hover {
  color: #fff;
  background: rgba(248,248,248,0.2);
}
#homepage ul a:active {
  -webkit-transform: translate3d(0, 2px, 0);
  -moz-transform: translate3d(0, 2px, 0);
  -o-transform: translate3d(0, 2px, 0);
  -ms-transform: translate3d(0, 2px, 0);
  transform: translate3d(0, 2px, 0);
}
#homepage ul.social a {
  width: 1.2em;
  padding: 0.36em;
}
#homepage ul.social a .fontello {
  padding: 0;
}
#avatar {
  display: block;
  height: 120px;
  width: 120px;
  border: 3px solid #f8f8f8;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #ddd;
  color: #232323;
  -webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.3), inset 0 0 40px 2px rgba(0,0,0,0.3);
  box-shadow: 0 0 3px 3px rgba(0,0,0,0.3), inset 0 0 40px 2px rgba(0,0,0,0.3);
}
#avatar.homepage {
  height: 180px;
  width: 180px;
  margin: 0 auto;
}
#avatar + span {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(144,144,144,0.4);
  color: #ddd;
  font-size: 20px;
  padding: 5px 12px;
  margin: 0 auto;
  position: relative;
  top: -240px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 400ms ease-in-out, top 400ms ease-in-out;
  -moz-transition: opacity 400ms ease-in-out, top 400ms ease-in-out;
  -o-transition: opacity 400ms ease-in-out, top 400ms ease-in-out;
  -ms-transition: opacity 400ms ease-in-out, top 400ms ease-in-out;
  transition: opacity 400ms ease-in-out, top 400ms ease-in-out;
}
#avatar + span:after {
  content: '';
  position: absolute;
  border-top: 7px solid rgba(144,144,144,0.4);
  border-left: 7px solid rgba(255,255,255,0);
  border-right: 7px solid rgba(255,255,255,0);
  bottom: -7px;
  left: 50%;
  margin-left: -7px;
}
#avatar:hover + span {
  top: -234px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#menu {
  width: 247px;
  height: 100%;
  padding: 15px 0;
  font-size: 12px;
  position: fixed;
  z-index: 1;
  background: #232323;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu ul li {
  margin: 0;
  padding: 0;
}
#menu ul li a {
  display: block;
  height: 36px;
  line-height: 36px;
  text-decoration: none;
  font-weight: bold;
  color: #909090;
  padding-left: 20px;
  border-left: 0px solid #57a3e8;
  -webkit-transition: border-left 300ms ease-in-out;
  -moz-transition: border-left 300ms ease-in-out;
  -o-transition: border-left 300ms ease-in-out;
  -ms-transition: border-left 300ms ease-in-out;
  transition: border-left 300ms ease-in-out;
}
#menu ul li a .fontello {
  font-size: 22px;
  padding-right: 0.4em;
  vertical-align: middle;
}
#menu ul li a:hover {
  color: #ddd;
  background: rgba(0,0,0,0.2);
  border-left: 4px solid #57a3e8;
}
#menu ul li a:hover .fontello {
  color: #909090;
}
#menu h3 {
  font-size: 12px;
  margin: 15px 20px 10px;
  padding-top: 15px;
  border-top: 1px solid #0a0a0a;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.08);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.08);
  color: rgba(144,144,144,0.7);
}
#overlay {
  display: none;
  background: rgba(255,255,255,0);
  position: fixed;
  z-index: 8000;
  left: 247px;
  top: 0;
  right: 0;
  bottom: 0;
}
#overlay.homepage {
  display: block;
  background: rgba(0,0,0,0.5);
  left: 0;
}
body.menu-open #overlay {
  display: block;
}
#main {
  background: #fff;
  height: 100%;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  -moz-transition: -moz-transform 200ms ease-in-out;
  -o-transition: -o-transform 200ms ease-in-out;
  -ms-transition: -ms-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  position: relative;
  z-index: 50;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
body.menu-open #main {
  -webkit-transform: translate3d(247px, 0, 0);
  -moz-transform: translate3d(247px, 0, 0);
  -o-transform: translate3d(247px, 0, 0);
  -ms-transform: translate3d(247px, 0, 0);
  transform: translate3d(247px, 0, 0);
}
#banner {
  position: relative;
  width: 24%;
  min-width: 300px;
  max-width: 500px;
  height: 100%;
  background: #232323 url("/images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: -1px 0 5px rgba(0,0,0,0.5), 1px 0 5px rgba(0,0,0,0.7);
  box-shadow: -1px 0 5px rgba(0,0,0,0.5), 1px 0 5px rgba(0,0,0,0.7);
}
#banner div {
  position: absolute;
  left: 0;
  bottom: 60px;
  color: #ddd;
  padding-left: 60px;
}
#banner div h1 {
  margin-bottom: 0.5em;
}
#banner div h2 {
  margin-top: 0.5em;
  font-size: 14px;
}
#toggle {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 45px;
  height: 45px;
  z-index: 1000;
  font-size: 24px;
  border: 0;
  outline: 0;
  background: #232323;
  color: #ddd;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#toggle.transparent {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#toggle.hidden {
  display: none;
}
#content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  height: 100%;
  background: #f8f8f8;
}
article {
  margin: 20px 50px;
}
article p.eof {
  text-align: center;
  font-size: 24px;
  color: rgba(144,144,144,0.5);
}
article p.eof .fontello {
  vertical-align: middle;
  margin: 0 5px;
}
article p.eof:before,
article p.eof:after {
  content: '';
  border: 1px solid rgba(144,144,144,0.5);
  width: 50px;
  height: 0;
  display: inline-block;
  vertical-align: middle;
}
article a {
  background: transparent;
  color: #4183c4;
  text-decoration: none;
}
article a:hover,
article a:focus,
article a:active {
  text-decoration: underline;
}
article a:active,
article a:hover {
  outline: 0;
}
article strong {
  font-weight: bold;
}
article h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
article img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  background: rgba(221,221,221,0.4);
  border: 1px solid rgba(144,144,144,0.4);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-transition: box-shadow 400ms ease-in-out;
  -moz-transition: box-shadow 400ms ease-in-out;
  -o-transition: box-shadow 400ms ease-in-out;
  -ms-transition: box-shadow 400ms ease-in-out;
  transition: box-shadow 400ms ease-in-out;
}
article img:hover {
  -webkit-box-shadow: 0 0 7px rgba(144,144,144,0.7);
  box-shadow: 0 0 7px rgba(144,144,144,0.7);
}
article hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
  height: 0;
  padding: 0;
  margin: 16px 0;
  background-color: #e7e7e7;
  border: 0 none;
  border-bottom: 1px solid #ddd;
}
article hr:before,
article hr:after {
  display: table;
  content: "";
}
article hr:after {
  clear: both;
}
article input {
  color: inherit;
  font: inherit;
  margin: 0;
}
article input[disabled] {
  cursor: default;
}
article input {
  line-height: normal;
}
article input[type="checkbox"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}
article h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
article h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}
article h3 {
  font-size: 1.5em;
  line-height: 1.43;
}
article h4 {
  font-size: 1.25em;
}
article h5 {
  font-size: 1em;
}
article h6 {
  font-size: 1em;
  color: #777;
}
article blockquote {
  margin: 0;
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
article blockquote>:first-child {
  margin-top: 0;
}
article blockquote>:last-child {
  margin-bottom: 0;
}
article ul,
article ol {
  padding: 0;
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 0;
}
article ul ul,
article ul ol,
article ol ol,
article ol ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: lower-roman;
}
article ul ul ol,
article ul ol ol,
article ol ul ol,
article ol ol ol {
  list-style-type: lower-alpha;
}
article li>p {
  margin-top: 16px;
}
article dd {
  margin-left: 0;
}
article dl {
  padding: 0;
}
article dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}
article dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}
article p,
article blockquote,
article ul,
article ol,
article dl,
article table,
article pre {
  margin-top: 0;
  margin-bottom: 16px;
}
article table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}
article table th {
  font-weight: bold;
  background: #f1fff1;
}
article table th,
article table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
article table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
article table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
article *:first-child {
  margin-top: 0 !important;
}
article *:last-child {
  margin-bottom: 0 !important;
}
article kbd {
  background-color: #e7e7e7;
  background-image: -webkit--webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: -webkit--moz-linear-gradient(#fefefe, #e7e7e7);
  background-image: -webkit--o-linear-gradient(#fefefe, #e7e7e7);
  background-image: -webkit--ms-linear-gradient(#fefefe, #e7e7e7);
  background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: -moz-linear-gradient(#fefefe, #e7e7e7);
  background-image: -o-linear-gradient(#fefefe, #e7e7e7);
  background-image: -ms-linear-gradient(#fefefe, #e7e7e7);
  background-image: linear-gradient(#fefefe, #e7e7e7);
  background-repeat: repeat-x;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  color: #000;
  padding: 3px 5px;
  line-height: 10px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  display: inline-block;
}
.entry .gist {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  color: #666;
}
.entry .gist .gist-file {
  border: none;
  font-family: inherit;
  margin: 0;
  font-size: 0.9em;
}
.entry .gist .gist-file .gist-data {
  background: none;
  border-bottom: none;
}
.entry .gist .gist-file .gist-data pre {
  padding: 0 !important;
  font-family: Monaco, Menlo, Consolas, Courier New, monospace;
}
.entry .gist .gist-file .gist-meta {
  background: none;
  color: #666;
  margin-top: 5px;
  padding: 0;
  text-shadow: 0 0 1px #fff;
  font-size: 100%;
}
.entry .gist .gist-file .gist-meta a {
  color: #57a3e8;
}
.entry .gist .gist-file .gist-meta a:visited {
  color: #57a3e8;
}
figure.highlight {
  background: #eee;
  border: 1px solid #ddd;
  margin-top: 15px;
  padding: 7px 15px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
  font-size: 13px;
}
figure.highlight figcaption {
  color: #232323;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  border: none;
  padding: 0;
  margin: 0;
}
figure.highlight table {
  margin-top: 0;
  border-spacing: 0;
  border-collapse: separate;
}
figure.highlight table th,
figure.highlight table td {
  padding: 1px 15px 1px 1px;
  border: 0 none;
}
figure.highlight table tr {
  background: transparent;
}
figure.highlight .gutter {
  color: #232323;
  padding-right: 15px;
  border-right: 1px solid #ddd;
  text-align: right;
}
figure.highlight .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #232323;
}
figure.highlight .line {
  height: 21px;
}
code {
  padding: 0.2em 0;
  margin: 0;
  background: rgba(0,0,0,0.04);
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #998;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #6e81e2;
  font-weight: bold;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #df5000;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #000080;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #008080;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #586e24;
}
pre .deletion {
  color: #931313;
}
